html{
  height: 100%;
}
@font-face {
    font-family: 'Arcadeclassic';
    src: url('../fonts/ArcadeClassic.ttf');
}
body{
  width: 700px;
  margin:auto;
  font-family: Arcadeclassic;
  background:#eaeacd;
}
#logo{
  align-self: center;
}

#centerbox{
  position: relative;
  background: #dbdbbd;
  -webkit-box-shadow: -5px 5px 0px 0px rgba(187,187,154,1);
  -moz-box-shadow: -5px 5px 0px 0px rgba(187,187,154,1);
  box-shadow: -5px 5px 0px 0px rgba(187,187,154,1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.Time{
  position: absolute;
  top:5px;
  left:15px;
 text-align: center;
    display: flex;
    flex-direction:column;
}
.Points{
  position: absolute;
  top:5px;
  right:15px;
 text-align: center;
    display: flex;
    flex-direction:column;
}

.country-name{
  font-size: 35px;
  text-align: center;
    margin: 25px 0;
}

.flag-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   margin: 20px 0;

}
.flag-container{
  top: 5px;
  text-align: center;
  margin-left: 10px;
}
.img-container{
  width: 100px;
  height: 60px;
  background-size: cover;
  background-position: center center;
}
.flag-start{
  background: url("../images/flag.png");
  height: 27px;
  width: 21px;
}

.flag-finish{
  background: url("../images/finish.png");
  height: 19px;
  width: 9px;
}
.player-icon{
  background: url("../images/choveche.png");
  height: 28px;
  width: 12px;
    position: absolute;
    left: 0px;
}
.Users{
  display: flex;
  flex-direction: column;
}

.User{
  display: flex;
  flex-direction: row;
    width: 90%;
    margin-top: 10px;
}

.Progress{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    border-bottom: 4px solid #bbbb9a;
    align-items: flex-end;
}

.name{
    width: 30%;
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;
    line-height: 28px;
    font-weight: bold;
}

.flag {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.path  {
    width: 95%;
    height: 28px;
    position: relative;
}

.not-a-flag:hover {
    cursor: pointer;
}