:host {
    --body--padding: 170px;
    --content-translate: calc(var(--body--padding)/2);
}

@font-face {
	font-family: ArcadeClassic;
	src: url(../fonts/ArcadeClassic.ttf);
}

* {
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
    background: #eaeacd url('../images/logo.png') no-repeat center 40px;
    font-family: ArcadeClassic;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    position: relative;
    padding-top: var(--body--padding);
}

#connection-close-popup {
    word-spacing: 7px;
}

#freeze, #wrong, #correct {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 7000;
    opacity: 0.7;
    display:none;
    font-size:200px;
    left: 0;
    top: 0;
}

#freeze-content, #wrong-content, #correct-content {
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 10px 10px 1px black;
	flex-direction: column;
}

#freeze-content p,#wrong-content p, #correct-content p {
	text-shadow: 2px 2px 1px #3a0704;
	font-size: 20px;
	word-spacing: 10px;
    display: flex;
    justify-content: space-between;
    width: 360px;
}

#correct {
    background: greenyellow;
    color: white;
}

#wrong {
    background: red;
    color: white;
}

#freeze {
    background: #516aff;
    color: white;
}

#gameover {
    background: white;
    color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 7000;
    opacity: 0.5;
    display:none;
    font-size:70px;
    left: 0;
    top: 0;
}

#instructions {
    background: white;
    color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 7000;
    opacity: 1;
    display:none;
    font-size:70px;
    left: 0;
    top: 0;
}

#gameover-content, #instructions-content {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    flex-direction: column;
    word-spacing: 20px;
}

#instructions img {
    border: 10px outset #ccc;
}


#name {
	font-family: ArcadeClassic;
    font-size: 100%;
    background: #eaeacd;
    border: 0;
    width: 100%;
	height: 40px;
	margin: 20px 0;
	padding: 0 20px;
}


#register-page {
	display: none;
}

#room-page {
	display: none;
}

#content {
	display: none;
    transform: var(--content-translate);
}

.rectangle {
    width: 700px;
    padding: 20px;
    background: #dbdbbd;
    -webkit-box-shadow: -5px 5px rgba(187,187,154,1);
    -moz-box-shadow: -5px 5px rgba(187,187,154,1);
    box-shadow: -5px 5px rgba(187,187,154,1);
    margin: 0 auto;
    display: none;
    flex-direction: column;
    position: relative;
}

#connection-close-popup{
	width: auto;
	height: auto;
	background: #dbdbbd;
	margin: 100px auto;
	display: none;
	position: relative;
	-webkit-box-shadow: -5px 5px rgba(187,187,154,1);
	-moz-box-shadow: -5px 5px rgba(187,187,154,1);
	box-shadow: -5px 5px rgba(187,187,154,1);
	text-align: center;
	font-size: 25px;
	font-style: italic;
	padding: 20px;
	color: red;
    word-spacing: 6px;
    letter-spacing: 2px;
}

.button {
	width: 150px;
	height: 50px;
	background: #a92a39;
	box-shadow: -2px 2px #5d2020;
	color: white;
    text-align: center;
    line-height: 50px;
    font-family: ArcadeClassic;
    font-size: 21px;
    cursor:pointer;
    border: 0;
    outline: none;
}

.button:hover {
    background: #dc3449;
}

.button-holder {
	margin: 20px 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.butttonFinal {
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}

.reg-text {
	text-align: center;
	font-family: ArcadeClassic;
	font-size: 30pt;
    color: #A92A39;
    word-spacing: 10px;
}

.back-button {
    right: 20px;
}

.register-button {
	right: 20px;
}

.login-button {
	right: 20px;
}

.newGame-button {
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

input[type='text'], input[type='password'] {
	width: 100%;
	height: 40px;
	margin: 20px 0;
	border: 0;
	background: #eaeacd;
    padding: 0 20px;
    font-family: ArcadeClassic;
    font-size: 14pt;
    outline: none;
    word-spacing: 3px;
    letter-spacing: 1px;
}


input[type='text']:hover, input[type='password']:hover {
    background: #f0f0d4;
}

input[type='text']:focus, input[type='password']:focus {
    background: #f0f0d4;
}

.room {
    margin-top:5px;
}
.room-lobbycontainer {
	display: flex;
    margin-bottom: 5px;
}

.room-lobby {
    max-height: 300px;
    overflow-y: auto;
}

.room-lobby::-webkit-scrollbar {
    background: #EAEACD;
}

.room-lobby::-webkit-scrollbar-button {
    background: #c2c2a6;
}

.room-lobby::-webkit-scrollbar-thumb {
    background: #b7b590;
}

.memberContainer {
	display: flex;
	margin-top: 5px;
    background:  #EAEACD;
}


.color-red {
    color: #a92a39;
    word-spacing: 5px;
}

#login-message, #registration-message{
    display: none;
    letter-spacing: 3px;
    color: #bc0200;
    width: 100%;
    text-align: center;
    word-spacing: 5px;
}

.roomtext {
    background:  #EAEACD;
    padding: 5px;
    width:calc(80% - 10px);
    height:50px;
    vertical-align: middle;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.join-room-button {
    background:  #a92a39;
    word-spacing: 5px;
    outline: none;
    width: 150px;
	height: 50px;
	color: white;
    text-align: center;
    line-height: 50px;
    font-family: ArcadeClassic;
    font-size: 21px;
    cursor:pointer;
    border: 0;
}
.join-room-button:hover{
    background: #c64151;
    cursor: pointer;
}

.roomcontainer {
	display: flex;
}
.alignleft {
    padding-left: 5px;
    flex:calc(100% - 30px);
    font-family: ArcadeClassic;
    word-spacing: 5px;
}
.alignright {
    flex:30px;
}

#w {
	margin: 0;
	font: 1em ArcadeClassic;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.login-loading {
	display: none;
}

.loading {
	text-align: center;
}

.loading h2 {
    margin: 0;
    font: 1em ArcadeClassic;
    text-transform: uppercase;
    letter-spacing: .1em;
}


.loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #a92a39;
    animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
    background: #a92a39;
    animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
    background: #a92a39;
    animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
    background: #a92a39;
    animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
    background: #a92a39;
    animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
    background: #a92a39;
    animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
      background: #a92a39;
      animation-delay: 1.2s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.coin_red {
    background-image: url("../images/coin_red.png");
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    position:fixed;
    width:30px;
    height:30px;
    z-index: 99999;
}
.coin {
	background-image: url("../images/coin.png");
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
    position:fixed;
    width:30px;
    height:30px;
    z-index: 99999;
}

.Time {
    /*position: absolute;*/
    /*top:5px;*/
    /*left:15px;*/
    text-align: center;
    display: flex;
    flex-direction:column;
    transition: 0.5s;
    width: 100px;
}
.Points {
    /*position: absolute;*/
    /*top:5px;*/
    /*right:15px;*/
    text-align: center;
    display: flex;
    flex-direction:column;
    width: 100px;
}

.top-holder {
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

#question-count {
    width: 150px;
}

.country-name {
    font-size: 35px;
    text-align: center;
    margin: 25px 0;
}

.flag-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}
.flag-container {
    top: 5px;
    text-align: center;
    margin-left: 10px;
}
.img-container {
    width: 100px;
    height: 60px;
    background-size: cover;
    background-position: center center;
}

.img-container:hover {
    opacity: 0.8;
    cursor: pointer;
}

.flag-start {
    background: url("../images/flag.png");
    height: 27px;
    width: 21px;
}

.flag-finish {
    background: url("../images/finish.png");
    height: 19px;
    width: 9px;
}

.player-icon {
    background: url("../images/choveche.png");
    height: 28px;
    width: 12px;
    position: absolute;
    left: 0px;
    transition: 2s;
}

.o-game-players {
    display: flex;
    flex-direction: column;
}

.User {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 10px;
}

.Progress {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    border-bottom: 4px solid #bbbb9a;
    align-items: flex-end;
}

.name {
    width: 30%;
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.flag {
    width: 100%;
    height: 100%;
}

.flag:hover {
    cursor: pointer;
    opacity: 0.9;
}

.path {
    width: 95%;
    height: 28px;
    position: relative;
}

.not-a-flag:hover {
    cursor: pointer;
    color: #5d2020;
}

#game-room {
    display: none;
}

.players {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}


#ladder-room {
    padding: 50px 0 100px;
}

.place-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    font-size: 35px;
    background:#a92a39;
}

.place-1 {
	width:90px;
    height:110px;
}

.place-2 {
    width:90px;
    height:90px;
}

.place-3 {
    width:90px;
    height:70px;
}

.player-final {
	align-items: center;
	display:flex;
	flex-direction: column;
    position: relative;
}
.player-final-1{
	order: 2;
}
.player-final-2{
	order: 3;
}
.player-final-3{
	order: 1;
}

@keyframes imgJump {
    0% {
        height: 100px;
    }
    20% {
        height: 100px;
    }
    60% {
        height: 114px;
    }
    75% {
        height: 114px;
    }
    100% {
        height: 100px;
    }
}

@keyframes jump {
    0% {top : 14px}
    20% {top : 14px}
    60% {top: -35px}
    75% {top: 0px}
    100% {top: 14px;}
}

.player-final img {
	width: 30px;
	height: 114px;
    animation-name: imgJump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.handless-man {
    height: 112px;
    position: relative;
}

.ladder-name {
    margin-bottom: 35px;
}

.man-absolute-holder {
    position: absolute;
    left: -15px;
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.animation-delayed-1 {
    animation-delay: 0.4s;
}

.animation-delayed-2 {
    animation-delay: 0.8s;
}

@keyframes wave-left {
    0% {
        transform: rotate(20deg);
        left : 0px;
        top: 34px;
    }
    50% {
        left: -4px;
        top: 42px;
        transform: rotate(130deg);
    }
    100% {
        top: 34px;
        left: 0px;
        transform:  rotate(20deg);
    }
}
@keyframes wave-right {
    0% {
        transform: rotate(-20deg);
        right: 1px;
        top: 34px;
    }
    50% {
        right: -3px;
        top: 42px;
        transform: rotate(-130deg);
    }
    100% {
        top: 34px;
        right: 1px;
        transform:  rotate(-20deg);
    }
}
.arm {
    background: #FFEDB9;
    width: 8px;
    height: 32px;
    position: absolute;
    border-bottom: 1px solid;
    transition: 1s;
}

.left-arm {
    left: 0px;
    top: 34px;
    transform-origin: top right;
    animation-name: wave-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.right-arm {
    right: 1px;
    top: 34px;
    transform-origin: top left;
    animation-name: wave-right;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

canvas {
    display: none;
    position: fixed;
    left:0;
    top:0;
    z-index: 100;
    pointer-events: none;
}

caption {
    font-size: 30px;
    margin-top: 10px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

table {
    width: 60%;
}

#create-room-wrapper > div {
    display: flex;
    align-items: center;
}

#create-room-wrapper > div > button {
    margin-left: 20px;
}

.o-screen-credits {
    background: rgba(232, 232, 204, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.list--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--unstyled li {
    padding: 10px 0;
    text-align: center;
}

.o-screen-credits__close {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.o-screen-credits__close::after,
.o-screen-credits__close::before {
    content: '';
    display: inline-block;
    height: 43px;
    width: 3px;
    border-radius: 3px;
    background: #ccc;
    position: absolute;
}

.o-screen-credits__close::after {
    transform: rotate(45deg);
    right: 13px;
}

.o-screen-credits__close::before {
    transform: rotate(-45deg);
    left: 13px;
}

footer {
    padding: 20px 0;
    text-align: right;
}

.o-credit-btn {
    cursor: pointer;
}