#container{
  width: 700px;
  margin:auto;

}
#logo {

  display: block;
  margin: 50px auto;
}
body {
  background: #eaeacd;
  font-family: Arcadeclassic;
}
@font-face {
    font-family: 'Arcadeclassic';
    src: url('../fonts/ArcadeClassic.ttf');
}

#centerbox{
  background: #dbdbbd;
  -webkit-box-shadow: -5px 5px 0px 0px rgba(187,187,154,1);
-moz-box-shadow: -5px 5px 0px 0px rgba(187,187,154,1);
box-shadow: -5px 5px 0px 0px rgba(187,187,154,1);
padding: 20px;
display: flex;
flex-direction: column;
}

.room{
  margin-top:5px;
  display: flex;
}

.roomtext{

    background:  #EAEACD;
    padding: 5px;
    width:calc(80% - 10px);
    height:25px;
    vertical-align: middle;
    line-height: 25px;
    display: flex;

}
.join-room-button{
  font-size: 13pt;
  background:  #a92a39;
  width: 20%;
  height: 35px;
  border:0;
  padding: 5px;
  color:white;
  font-family:'Arcadeclassic';
  word-spacing: 5px;
  outline: none;
}
.join-room-button:hover{
  background: #c64151;
  cursor: pointer;
}


.alignleft {
padding-left: 5px;
flex:calc(100% - 30px);
}
.alignright {
flex:30px;
}

.create {
  margin-top: 50px;
  margin-left: auto;
}
