<div class="room-lobbycontainer">
	<div class="roomtext">
	<div class="alignleft room-name" data-content="name"></div>
	<div class="alignright"><span data-content="playersCount"></span>/8 </div>
</div>
<div class="buttoncontainer">
	<button type="button" class="join-room-button join-listener" data-alt="id">join room</button>
</div>
</div>
