<div class="memberContainer">
	<div class ="roomtext" data-alt="userId">
		<div class = "alignleft" data-content="userName"> </div>
	</div>
	<div class="buttonContainer">
		<button type = "button" class ="join-room-button kick-button" data-alt="userId">kick</button>
	</div>
</div>
