<p class="ladder-name" data-content="user"></p>
<div class="handless-man">
  <div class="man-absolute-holder animation-delayed-1">
    <div class="left-arm arm"></div>
    <img src="images/chovek-bez-ruce-cl.png" class="animation-delayed-1">
    <div class="right-arm arm"></div>
  </div>
</div>
