<div class='User'>
    <div class='name' data-content="userName"></div>
    <div class='Progress'>
        <div class='flag-start'></div>
        <div class='path'>
            <div class='player-icon' data-id="userId"></div>
        </div>
        <div class='flag-finish'></div>
    </div>
</div>
