<div class="player-final player-final-1">
  <p class="ladder-name" data-content="user"></p>
  <div class="handless-man">
    <div class="man-absolute-holder">
      <div class="left-arm arm"></div>
      <img src="images/chovek-bez-ruce-cl.png">
      <div class="right-arm arm"></div>
    </div>
  </div>
  <div class="place-parent place-1">1</div>
</div>
