<div class="player-final player-final-2">
  <p class="ladder-name" data-content="user"></p>
  <div class="handless-man">
    <div class="man-absolute-holder animation-delayed-2">
      <div class="left-arm arm"></div>
      <img src="images/chovek-bez-ruce-cl.png" class="animation-delayed-2">
      <div class="right-arm arm"></div>
    </div>
  </div>
  <div class="place-parent place-2"> 2 </div>
</div>
